//========================================================================
//=========================== VARIABLES ==================================
//========================================================================


// Grid system column base
// Change this variable to work with a different number of columns (by default 12 - similar to Bootstrap)
$grid__cols: 12;


// Margin between columns
// Can be set to 0 if you want to manage your own spacings
$gutter: 0;
$gutter_unit: px;


// Column prefix name
// Prefix to add when the class is constructed (by default .col - similar to Bootstrap)
$prefix: '.col';


// Responsive Breakpoints
// Add here your breakpoints for your media queries CSS
// First add the size of the viewport you want and associate it with an alias in the $map-grid-props list.
// Since our grid is "Mobile First" the first element without alias is for the display on cellphones.
// By default the alias used are those in Bootstrap
$grid__bp-sm: 768;
$grid__bp-md: 991;
$grid__bp-lg: 1200;
$grid__bp-xl: 1921;

$map-grid-props: (
        '': 0,                  //none => extra small screen (mobile)
        '-sm': $grid__bp-sm,    //sm => small screen (tablets)
        '-md': $grid__bp-md,    //md => medium screen (small laptop)
        '-lg': $grid__bp-lg,    //lg => large screen (laptop / desktop)
        '-xl': $grid__bp-xl     //xl => extra large screen (retina)
);


//========================================================================
//=========================== MIXINS =====================================
//========================================================================


// Create media queries according to a breakpoint in pixel
@mixin create-mq($breakpoint) {

    @if($breakpoint == 0) {
        @content;
    }
    @else{
        @media screen and (min-width: $breakpoint *1px) {
            @content;
        }
    }
};


// Call the mixin to create the media queries
// Create CSS class according to the alias and the column number
@mixin create-col-classes($alias, $breakpoint) {

    @include create-mq($breakpoint) {

        &#{$prefix}#{$alias}-push-0 {
            margin-left: 0 !important;
        };

        @for $i from 1 through $grid__cols {

            $width: 100% / $grid__cols * $i;

            &#{$prefix}#{$alias}-#{$i} {
                float:left;
                width:calc(#{$width} - #{$gutter + $gutter_unit});
                margin:0 #{$gutter/2 + $gutter_unit};
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            };

            &#{$prefix}#{$alias}-push-#{$i} {
                margin-left: calc(#{$width}) !important;
            };

            &#{$prefix}#{$alias}-pull-#{$i} {
                margin-right: calc(#{$width}) !important;
            };

        }

    }
};


// For each $alias in $map-grid-props , call the mixin create-col-classes
@each $alias, $breakpoint in $map-grid-props {
    @include create-col-classes($alias, $breakpoint);
};


//========================================================================
//=========================== OTHER ======================================
//========================================================================
.row{
    clear:both;
};

.container{
    width:100%;
}