// Set the breakpoints here
$breakpoint-x-small: 450px;     // Cellphones
$breakpoint-small: 768px;       // Tablets
$breakpoint-medium: 992px;      // Laptop
$breakpoint-large: 1200px;      // Large screen
$breakpoint-x-large: 1921px;    // Extra large screens


// Type of direction for media queries.
// min = from cellphones to large screen (Mobile first design)
// max = from large screens to cellphones.
$type: min;


// Create Media queries according to the breakpoint
// $prefix: xs, sm, md, lg, xl
// $orientation (optional): portrait by default. Can be landscape
// $pixels (optional): in Pixel, for custom media query.
@mixin screen($prefix, $orientation: portrait, $pixels: $breakpoint-small) {

    @if $prefix == xs and $orientation == portrait {
        @media screen and (#{$type}-width: $breakpoint-x-small) { @content; }
    }

    @else if $prefix == xs and $orientation == landscape {
        @media screen and (#{$type}-width: $breakpoint-x-small) and (orientation: landscape) { @content; }
    }

    @else if $prefix == sm {
        @media screen and (#{$type}-width: $breakpoint-small) { @content; }
    }

    @else if $prefix == md {
        @media screen and (#{$type}-width: $breakpoint-medium) { @content; }
    }

    @else if $prefix == lg {
        @media screen and (#{$type}-width: $breakpoint-large) { @content; }
    }

    @else if $prefix == xl {
        @media screen and (#{$type}-width: $breakpoint-x-large) { @content; }
    }

    @else if $prefix == custom {
        @media screen and (#{$type}-width: $pixels + px) { @content; }
    }

    @else {
        @warn "Breakpoint mixin supports: xs, sm, md, lg, xl, custom";
    }
}
